extend layout

block content
  h1 Your Dolls
  p Here is a list of your dolls.
  p
    a#add.btn.btn-default(href="/dolls/add") Add new
  table.table
    thead
      tr
        th Name
        th Hair Color
        th Eye Color
        th Clothes
    tbody
      if !dolls.length
        tr
          td(colspan=4) You should add a doll
      else
        each doll in dolls
          tr
            td
              input(type="checkbox", id=dolls.id)
            td
              a(href="/dolls/#{doll.id}") #{doll.name}
            td #{doll.hair}
            td #{doll.eyes}