extend layout

block content
  h2 CLICK ON THE DOLL TO SEE MORE:
  table.table
    thead
      tr
        th
        th NAME
        th HAIR COLOR
        th EYE COLOR
        th CLOTHES
    tbody
        each doll in dolls
          tr
            br
            td
            td
              a(href="/dolls/#{doll.id}") #{doll.name}
            td 
              a(href="/dolls/#{doll.id}") #{doll.hair}
            td 
              a(href="/dolls/#{doll.id}") #{doll.eyes}
            td 
              a(href="/dolls/#{doll.id}") #{doll.clothes}