extend layout

block content
  h1 CLICK THE DOLL TO SEE MORE:
 
    a#delete.btn.btn-default(hrer="#") Delete
    |  
    a#add.btn.btn-default(href="/dolls/add") Add Doll
  table.table
    thead
      tr
        th
        th NAME
        th EYES
        th HAIR
        th CLOTHES
    tbody
      if !dolls.length
        tr
          td(colspan=4) You should add a doll
      else
        each doll in dolls
          tr
            td
              input(type="checkbox", id=doll.id)
            td
              a(href="/dolls/#{doll.id}") #{doll.name}
            td #{doll.hair}
            td #{doll.eyes}
            td #{doll.clothes}